.container {
  width: 80%;
  margin-left: auto;
  margin-right: auto;
}

.main {
  box-sizing: border-box;
  display: block;
  float: left;
  margin-top: 20px;
  width: 70%;
  height: 600px;
  position: relative;
    .tabs {
      width: 20%;
      height: 30px;
      padding: 10px 2px 2px 2px;
      margin: 10px -3px -10px -3px;
      position: relative;
      border-bottom: 1px solid #7F7F7F;
    }
    .tabs.active {
      border-top: 1px solid #7F7F7F;
      border-right: 1px solid #7F7F7F;
      border-left: 1px solid #7F7F7F;
      border-bottom: 0;
    }
    section {
      display: none;
      position:absolute;
      margin-top: 15px;
      width: 100%;
      height: 700px;
    }
    section.active {
      display: block;
    }
}

.sidebar {
  display: block;
  float: left;
  margin-top: 20px;
  width: 28%;
  height: 500px;
    img {
      width:85%;
      border-radius: 5px;
    }
    .username {
      width:90%;
      border-bottom: 1px solid #BFBFBF;
        h3 {
          color: #7F7F7F;
          margin-top: -15px;
        }
    }
    .profile-info {
      box-sizing: border-box;
      width:90%;
      margin-left: -40px;
        ul {
          padding: -40px;
          list-style: none;
        }
    }
    .key-stats {
      width:90%;
      height: 100px;
      border-top: 1px solid #BFBFBF;
      border-bottom: 1px solid #BFBFBF;
        div {
          display:block;
          float:left;
          width:33%;
          color: #7F7F7F;
          text-align: center;
            h2 {
              color: #36B5DB;
              margin-bottom: -10px;
            }
        }
    }
}
